

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos do menu */
.menu {
    background-color: #333;
    color: white;

}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: #ddd;
}

/* Estilos do menu */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ddd;
}

/* Estilos para mobile */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.resenhas {
text-align: center;
align-items: center;


}
.rodape {
   
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}
